//- doctype
//- html 
//-     head 
//-         title=title 
//-         link(href='/style.css' rel='stylesheet')
//-     body  
//-         h3 #{title}
//-         p Welcome
//-         div=account.email

doctype
html 
    head 
        title=title 
        link(href='/style.css' rel='stylesheet')
        p
        header(class='company') NASASAURUS
    body 
        header 
            nav 
                ul 
                each item in config.menu
                    a(href=item[1] target=item[2])
                        div(class='menu_item')
                            li=item[0]
        p
        div(class='titlePage') Edit Answers
        div 
            form(id="form" method='POST' action='edit')
                P(class='no') How are you? 
                        select(name="q1" class='state' id='q1')
                            option(selected = quest.quest1) #{quest.quest1}
                            option(value='Perfer-not-answer') Perfer not to answer
                            option(value='Good') Good
                            option(value='Great') Great
                            option(value='eh') eh
                P(class='no') Are you tired? 
                        select(name="q2" class='state' id='q2')
                            option(selected = quest.quest2) #{quest.quest2}
                            option(value='yes') Yes
                            option(value='no') No
                            option(value='just-bit') Just a bit
                            option(value='eh') eh
                P(class='no') A portable chunk of code that can be embedded in Web pages to give extra functionality is known as a
                        select(name="q3" class='state' id='q3')
                            option(selected = quest.quest3) #{quest.quest3}
                            option(value='Widget') Widget
                            option(value='Curator') Curator
                            option(value='Wiki') Wiki
                            option(value='listserv') listserv
                        br
                        input(type="submit" value="Update Person")